@import url(http://fonts.googleapis.com/css?family=Lato:100);

.flip-front, .flip-back {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.flip-front {
  background: #388EB8;
}

.flip-back {
  background: #ACDA55;
}
